.dashboard-container {
  padding: 3px;
  width: 90%;
  margin: 2rem auto;
  text-align: center;
  min-height: 40rem;
  border: 1px solid black;
}

.dashboard-content {
  height: 100%;
  width: 100%;
  margin: 1rem 0;
}
