.dashboard-client-container{
  padding: 1rem;
  width: 100%;
}

.dashboard-client-card{
  width: 40%;
  margin: .5rem auto;
  display: flex;
  margin-bottom: .5rem;
  justify-content: space-between;
  border: 1px black solid;
  border-radius: 1rem;
  align-items: center;
  padding: 1rem;
}
.dashboard-client-card-data{
  text-align: start;
}

.client-delete-btn{
  width: 5rem;
  height: 2rem;
  border-radius: 1rem;
  border: none;
  background-color: red;
  color: white;
  opacity: .7;
}

.client-delete-btn:hover{
  cursor: pointer;
  opacity: 1;
}