.dashboard-room-list {
  gap: 3rem;
}

.room-list {
  width: 80%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.btn-option {
  border-radius: 1rem;
  height: 3rem;
  width: 3rem;
  border: none;
  color: white;
}

.btn-option:hover {
  cursor: pointer;
}
