.reserva-container {
  background-color: #f2f2f2;
  border: 1px solid black;
  border-radius: 1rem;
  width: 50%;
  height: 90vh;
  position:fixed;
  top: 0;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: .2s ease-in-out;
  padding: 1rem;
}


.icon-close{
  font-size: 2rem;
  position: absolute;
  right: 0;
}

.icon-close:hover{
  cursor:pointer
}


.reserva-fechas {
  width: 50%;
  margin: 0 auto;
}

.reserva-fecha {
  font-size: 1rem;
  margin: .2rem;
  text-align: center;
}


.reserva-habitaciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  overflow-y: scroll;
}

.reserva-footer{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.reserva-footer-total{
  font-size: 1.5rem;
}

.confirmar {
  border: none;
  border-radius: 1rem;
  color: aliceblue;
  background-color: rgb(67, 0, 210);
  width: 7rem;
  height: 2rem;
  transition: .25s ease-in-out;
  margin-top: .5rem;
  align-self: center;
}

.confirmar:hover{
  border: 1px solid rgb(67, 0, 210);
  background-color: white;
  color: rgb(67, 0, 210);
  cursor: pointer;
}

@media screen and (max-width:1500px){
  .reserva-container{
    width: 90%;
  }
}