.btn {
  border-radius: 0.5rem;
  padding: 0.5rem;
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.edit {
  color: white;
  background-color: #066699;
}

.delete {
  color: white;
  background-color: #e8373e;
}

.hiden {
  background-color: #eaa353;
}
