.button {
    border: 1px solid black;
    padding: .2rem 1rem;
    border-radius: .3rem;

    text-decoration: none;
    transition: background-color .2s ease;
}

.button:hover {
    background-color: blueviolet;
    color: white;
    transition: background-color .2s ease;
}